@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin: auto;
}

#title {
    background: yellow;
    padding: 25px 25px 25px 25px;
    margin: 30px 25px;
    
}

#subtitle {
    background: black;
    color: white;
    padding: 20px 25px 20px 25px;
    margin: 30px 25px;
    
}

.topic {
    background: lightgray;
    height: 25px;
	width: 100px;
	border: 1px solid red;
	margin: 30px 30px 50px 30px;
	display: inline-block; 
    
}

